/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 *= require bootstrap.min
 */

@import "bootstrap";


/*
@font-face {
  font-family: 'Calendas_Plus';
  src: font-url('calendas_plus-webfont.eot');
  src: font-url('calendas_plus-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('calendas_plus-webfont.woff2') format('woff2'),
       font-url('calendas_plus-webfont.woff') format('woff'),
       font-url('calendas_plus-webfont.ttf') format('truetype'),
       font-url('calendas_plus-webfont.svg#calendas_plus') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
    font-family: 'calendas_plusbold';
    src: url('calendas_plus_bold-webfont.eot');
    src: url('calendas_plus_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('calendas_plus_bold-webfont.woff2') format('woff2'),
         url('calendas_plus_bold-webfont.woff') format('woff'),
         url('calendas_plus_bold-webfont.ttf') format('truetype'),
         url('calendas_plus_bold-webfont.svg#calendas_plusbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Links */
a,
a:focus,
a:hover {
  color: #AA4A44;
}

body{
	font-family: 'calendas_plusbold';
	
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}



.inner{
  background-color:#FFF;	
}
.input-width {
flex-grow: 1;
}

.btn {
    display: inline-block;
    letter-spacing: 2px;
    border: 1px solid transparent;
    font-size: 1.5vw;
}
.btn:hover{
   border-color: #AA4A44 !important;
   color: #AA4A44;
}

.btn:hover span{
    color: #AA4A44 !important;
}
.btn-round {
    border-radius: 4px !important
}

.btn i {
    margin-right: 5px
}

.btn.btn-large i {
    font-size: 24px
}

.button {
    margin-top: 0;
    margin-bottom: 0
}



.highlight-button {
    border: 2px solid #000;
    display: inline-block;
    padding: 8px 20px 9px;
    font-size: 12px;
    color: #000;
    background-color: transparent
}

.highlight-button:hover {
    background-color: #000;
    border: 2px solid #000;
    color: #fff
}

.highlight-button i {
    color: #000
}

.highlight-button:hover i {
    color: #191919;
}

/* styling for alerts */
.red-background {
 
  color: black;
  z-index: 9999;
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
}

.alert {
  position: relative;
  z-index: 9999;
}

.custom-close-btn {
  font-size: 1rem;
  width: 25px;
  height: 25px; 
}



/* Outline buttons */
.btn {
  background-color: transparent;
  border: 2px solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* Table row hover */
.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #AA4A44;
}

#previous-conversations ul {
  list-style: none;
  padding: 0;
}

.conversation-prompt {
  display: flex;
  justify-content: space-between;
  background: #ccccc;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 1px dotted #000;
  border-radius: 10px;

  }

.conversation-prompt:hover {
  color: #AA4A44;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #AA4A44; /* Adjust the color as desired */
}


.background-image {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
  }
html,
body {
  height: 100%;
  width: 100%;
  background-color: #FFF;
  color: #000;
}

.cover-container {
  max-width: 42em;
}

h1 {
	color:#B60F17;
}

hr {
  color: #000;
}

th, td {
  color: #000;
}

li {
  background: rbga(50, 50, 50, .9);
  }

#responsebox {
  padding: 3rem;
  background: #ccccc;
  border-radius: 10px;
  color: #000;
}
input {
  color:#000;
}
#user_input {
  color: #000;
}

.progress-container {
  width: 100%;
  height: 5px;
  background-color: #f3f3f3;
  position: relative;
}

.progress-bar {
  height: 5px;
  background-color: #4caf50;
  width: 100%;
  position: absolute;
  overflow: hidden;
  display: none;
}

.btn{
  font-weight: bold;
  }

.form-inline {
  padding-top: .75rem;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.inner {
  padding: 3rem;
  background: #ccccc;
  border: 2px #000;
  border-radius: 10px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-left-style: dotted;
  border-right-style: dotted;
  }

.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.border-dotted {
  border-style: dotted;
}

//navigation Menu

.centered-navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.navbar-nav {
  display: flex;
}

#navbarNav {
  justify-content: center;
  margin-left:25%;
  margin-right:25%;
  }

.navbar-toggler {
  display: none;
}


.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.image-container img {
  max-width: 100%;
  height: auto;
}



@media (min-width: 800px) {
  .navbar-nav {
    display: none;
  }

  .navbar-toggler {
    display: block;
    z-index:1000;
  }

  .navbar-collapse.show .navbar-nav {
    display: flex;
    flex-direction: row;
  }


  font-size:1vw;

  .btn {
    font-size:1vw;
  }
}

@media (max-width: 801px) {
  .navbar-toggler {
    display: block;
    z-index:1000;
  }

  .navbar-nav {
    display: none;
  }

  .navbar-collapse {
    text-align: center;
  }

  .navbar-collapse.show .navbar-nav {
    display: flex;
    flex-direction: column;
  }
   font-size:3vw;
  .btn-sm {
    font-size:3vw;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 6vw; /* You can adjust the value for smaller screens if necessary */
  }
  .btn {
    font-size: 3vw;
  }
}

  .inner {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;

  }

  .input-width {
    width: 100%;
  }

  .btn-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .inner.cover {
    padding: 0;
  }

.topText {
    padding-top: 5em;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
    }

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .lds-roller {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

