/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 *= require bootstrap.min
 */

@import "bootstrap";


/*
@font-face {
  font-family: 'Calendas_Plus';
  src: font-url('calendas_plus-webfont.eot');
  src: font-url('calendas_plus-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('calendas_plus-webfont.woff2') format('woff2'),
       font-url('calendas_plus-webfont.woff') format('woff'),
       font-url('calendas_plus-webfont.ttf') format('truetype'),
       font-url('calendas_plus-webfont.svg#calendas_plus') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
    font-family: 'calendas_plusbold';
    src: url('calendas_plus_bold-webfont.eot');
    src: url('calendas_plus_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('calendas_plus_bold-webfont.woff2') format('woff2'),
         url('calendas_plus_bold-webfont.woff') format('woff'),
         url('calendas_plus_bold-webfont.ttf') format('truetype'),
         url('calendas_plus_bold-webfont.svg#calendas_plusbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Links */
a,
a:focus,
a:hover {
  color: #AA4A44;
}

body{
	font-family: 'calendas_plusbold';
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
}


#greeting {
  margin-top:1rem;
  margin-left:1rem;
}
.inner{
  background-color:#FFF;	
}
.input-width {
flex-grow: 1;
}

.btn {
    display: inline-block;
    margin-right: 20px;
    letter-spacing: 2px;
    border: 1px solid transparent
}
.btn:hover{
   border-color: #AA4A44 !important;
   color: #AA4A44;
}

.btn:hover span{
    color: #AA4A44 !important;
}
.btn-round {
    border-radius: 4px !important
}

.btn i {
    margin-right: 5px
}

.btn.btn-large i {
    font-size: 24px
}

.button {
    margin-top: 0;
    margin-bottom: 0
}

.btn.btn-large {
    font-size: 18px;
    padding: 18px 35px
}

.btn.btn-medium {
    font-size: 14px;
    padding: 10px 22px
}

.btn.btn-small {
    font-size: 11px;
    padding: 2px 14px;
    letter-spacing: 1px
}

.btn.btn-very-small {
    font-size: 9px;
    padding: 1px 12px;
    letter-spacing: 1px
}

.highlight-button {
    border: 2px solid #000;
    display: inline-block;
    padding: 8px 20px 9px;
    font-size: 12px;
    color: #000;
    background-color: transparent
}

.highlight-button:hover {
    background-color: #000;
    border: 2px solid #000;
    color: #fff
}

.highlight-button i {
    color: #000
}

.highlight-button:hover i {
    color: #191919;
}

/* styling for alerts */
.red-background {
 
  color: black;
  z-index: 9999;
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
}

.alert {
  position: relative;
  z-index: 9999;
}




/* Outline buttons */
.btn {
  background-color: transparent;
  border: 2px solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* Table row hover */
.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #AA4A44;
}

#previous-conversations ul {
  list-style: none;
  padding: 0;
}

.conversation-prompt {
  display: flex;
  justify-content: space-between;
  background: #ccccc;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 1px dotted #000;
  border-radius: 10px;

  }

.conversation-prompt:hover {
  color: #AA4A44;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #AA4A44; /* Adjust the color as desired */
}


.background-image {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
  }
html,
body {
  height: 100%;
  width: 100%;
  background-color: #FFF;
  color: #000;
}

.cover-container {
  max-width: 42em;
}

h1 {
	color:#B60F17;
}

hr {
  color: #000;
}

th, td {
  color: #000;
}

li {
  background: rbga(50, 50, 50, .9);
  }

#responsebox {
  padding: 3rem;
  background: #ccccc;
  border-radius: 10px;
  color: #000;
}
input {
  color:#000;
}
#user_input {
  color: #000;
}

.progress-container {
  width: 100%;
  height: 5px;
  background-color: #f3f3f3;
  position: relative;
}

.progress-bar {
  height: 5px;
  background-color: #4caf50;
  width: 100%;
  position: absolute;
  overflow: hidden;
  display: none;
}

.btn{
  font-weight: bold;
  }

.btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.form-inline {
  padding-top: .75rem;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.inner {
  padding: 3rem;
  background: #ccccc;
  border: 2px #000;
  border-radius: 10px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-left-style: dotted;
  border-right-style: dotted;
  }

.sign-out-button {
  position: fixed;
  top: 6rem;
  right: 1rem;
  z-index: 1000;
}

.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
.border-dotted {
  border-style: dotted;
}

//navigation Menu

.centered-navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.navbar-nav {
  display: flex;
}

#navbarNav {
  justify-content: center;
  margin-left:25%;
  margin-right:25%;
  }

.navbar-toggler {
  display: none;
}

@media (min-width: 801px) {
  .navbar-nav {
    display: flex;
  }

  .navbar-toggler {
    display: none;
  }
}

@media (max-width: 800px) {
  .navbar-toggler {
    display: block;
    z-index:1000;
  }

  .navbar-nav {
    display: none;
  }

  .navbar-collapse {
    text-align: center;
  }

  .navbar-collapse.show .navbar-nav {
    display: flex;
    flex-direction: column;
  }
}
@media (min-height: 1100px) {
  .navbar-nav {
    display: flex;
  }

  .navbar-toggler {
    display: none;
  }
}

@media (max-height: 1099px) {
  .navbar-toggler {
    display: block;
    z-index: 1000;
  }

  .navbar-nav {
    display: none;
  }

  .navbar-collapse {
    text-align: center;
  }

  .navbar-collapse.show .navbar-nav {
    display: flex;
    flex-direction: column;
  }
}

h1 {
  font-size: 4vw; /* Adjust the value as needed */
}

@media (max-width: 576px) {
  h1 {
    font-size: 6vw; /* You can adjust the value for smaller screens if necessary */
  }
}



  .inner {
  padding: 1em;
  margin-left: auto;
  margin-right: auto;

  }

  .input-width {
    width: 100%;
  }

  .btn-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .inner.cover {
    padding: 0;
  }

.topText {
    padding-top: 5em;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
    }

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

