<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hello!</h1>
  <p>
    Here is your prompt response from machineSpiritClaude:
  </p>
  <pre><%= @response %></pre>
</body>
</html>

