<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-white border-top">
  <div class="container centered-navbar-container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto justify-content-center centered-nav-items">
        <li class="nav-item">
          <%= link_to "machineSpiritClaude", root_path, class: "nav-link" %> 
        </li>
        <li class="nav-item">
          <%= link_to "Premium Features", premium_features_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "User Guide", user_guide_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>

